{% extends "base.html"%}
{% load static %}
{% block content %}
<style>
  .text-gray-dark {
    color: #343a40 !important; /* Gris oscuro */
  }
</style>
<section class="ftco-section ftco-no-pt ftco-no-pb contact-section mt-5 mb-5 ftco-animate">
  <h1 class="mb-2 bread text-center">Contate-nos</h1>  
  <div class="container mt-5">
    <div class="row d-flex align-items-stretch no-gutters">
        <div class="col-md-6 p-0 p-md-5 order-md-last bg-light">
          <div class="align-items-center justify-content-center">
            <div class="col-md-10 d-flex justify-content-start ">
                <div class="bg-light d-flex align-self-stretch box p-2 text-left">
                    <p class="text-dark"><span class="icon icon-map-marker mr-4 icon-gray-dark fa-3x"></span>Clínica SER, Rua 1542, 376 A - Centro, Balneário Camboriú - SC</p>
                </div>
            </div>
            <div class="col-md-10 d-flex justify-content-start ">
                <div class="bg-light d-flex align-self-stretch box p-2 text-left">
                    <p class="text-dark"><span class="icon icon-phone mr-4 icon-gray-dark fa-3x"></span><a class="text-dark" href="tel:+5555996119565">(27) 99981-9715</a></p>
                </div>
            </div>
            <div class="col-md-10 d-flex justify-content-start ">
                <div class="bg-light d-flex align-self-stretch box p-2 text-left">
                    <p class="text-dark"><span class="icon icon-envelope mr-4 icon-gray-dark fa-3x"></span><a class="text-dark" href="mailto:dratainakoster@gmail.com">beth.macedo@hotmail.com</a></p>
                </div>
            </div>
            <div class="col-md-10 d-flex justify-content-start ">
                <div class="bg-light d-flex align-self-stretch box p-2 text-left">
                    <p class="text-dark"><span class="icon icon-globe mr-4 icon-gray-dark fa-3x"></span><a class="text-dark" href="https://www.elizabethmacedo.com.br">www.elizabethmacedo.com.br</a></p>
                </div>
            </div>
        </div>        
      </div>
      <div class="col-md-6 d-flex align-items-stretch">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3555.109048568198!2d-48.6385!3d-26.9951!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94d8b5e290000019%3A0x832e3e78adb33761!2sCl%C3%ADnica%20SER%20Espa%C3%A7o%20Integrado%20de%20Sa%C3%BAde!5e0!3m2!1spt-BR!2sbr!4v1727795205771!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scrips%}
<script>
  document.addEventListener("DOMContentLoaded",function(){
    $('.nav-link').removeClass('active');
    $('#contact-navlink').addClass('active');
   
  });
</script>
{% endblock %}