{% extends "base.html"%}
{% load static %}
{% block content %}
{% comment %} <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">Nossos Tratamentos &amp; Serviços</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Serviços <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section> {% endcomment %}

<section class="ftco-section ftco-services">
  <h1 class="mb-3 bread text-center">Tratamentos</h1>
  {% comment %} <p class="breadcrumbs text-center"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Contato <i class="ion-ios-arrow-forward"></i></span></p> {% endcomment %}
 
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
        <div class="media block-6 d-block">
          <div class="img w-100" style="background-image: url({% static 'images/ansiedad.png' %});"></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Transtornos de ansiedade</h3>
            <p>Oferecemos apoio psicológico especializado no tratamento de transtornos de ansiedade, ajudando você a superar desafios emocionais e alcançar o equilíbrio mental.<p>
          </div>
        </div>
      </div>   
        <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate" >
          <div class="media block-6 d-block">
            <div class="img w-100" style="background-image: url({% static 'images/depre1.png' %});"></div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Depressão</h3>
              <p>Ajudamos no tratamento da depressão com acompanhamento psicológico especializado, auxiliando na superação dos desafios emocionais e na recuperação do bem-estar.</p>
            </div>
          </div>      
        </div>
      <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
        <div class="media block-6 d-block">
          <div class="img w-100" style="background-image: url({% static 'images/panico.png' %});"></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Sindrome de panico</h3>
            <p>Superar a síndrome de pânico é possível com um tratamento personalizado para ajudar você a controlar os ataques de pânico e recuperar a serenidade na sua vida.</p>
          </div>
        </div>      
      </div>
      
      <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
        <div class="media block-6 d-block">
          <div class="img w-100" style="background-image: url({% static 'images/atencion.png' %});"></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Transtorno de Déficit de Atenção e Hiperatividade</h3>
            <p>Tratamos o Transtorno de Déficit de Atenção com técnicas especializadas para melhorar a concentração e a organização, adaptadas às necessidades individuais de cada paciente.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
        <div class="media block-6 d-block">
          <div class="img w-100" style="background-image: url({% static 'images/autocono.png' %});"></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Construção de autoestima</h3>
            <p>Trabalhamos na construção da autoestima com abordagens personalizadas para fortalecer a autoconfiança e promover uma visão positiva de si mesmo.</p>
          </div>
        </div>      
      </div>
      <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
        <div class="media block-6 d-block">
          <div class="img w-100" style="background-image: url({% static 'images/personalidad.png' %});"></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Transtornos de Personalidade</h3>
            <p>Auxiliamos no tratamento de transtornos de personalidade, focando na compreensão e modificação de padrões de comportamento para alcançar um equilíbrio emocional e relacionamentos mais harmônicos.</p>
          </div>
        </div>      
      </div>      
    </div>
  </div>
</section>

{% endblock %}
{% block scrips%}
<script>
  document.addEventListener("DOMContentLoaded",function(){
    $('.nav-link').removeClass('active');
    $('#index-navlink').addClass('active');
   
  });

</script>

{% endblock %}