{% extends "base.html"%}
{% load static %}
{% block content %}
{% comment %} <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">Nossos Tratamentos &amp; Serviços</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Serviços <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section> {% endcomment %}

<section class="ftco-section ftco-services">
  <h1 class="mb-3 bread text-center">Tratamentos</h1>
  {% comment %} <p class="breadcrumbs text-center"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Contato <i class="ion-ios-arrow-forward"></i></span></p> {% endcomment %}
 
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
        <div class="media block-6 d-block">
          <div class="img w-100" style="background-image: url({% static 'images/4.png' %});"></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Ortodontia adulto e infantil com aparelho fixo</h3>
            <p>Tratamentos personalizados para correção de dentes desalinhados, tanto para crianças quanto adultos, visando um sorriso harmonioso e funcional.<p>
          </div>
        </div>
      </div>   
        <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate" >
          <div class="media block-6 d-block">
            <div class="img w-100" style="background-image: url({% static 'images/1.png' %});"></div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Ortodontia com alinhadores invisíveis </h3>
              <p>Opção discreta e confortável para corrigir a posição dos dentes, utilizando alinhadores transparentes que podem ser removidos para alimentação e higiene.</p>
            </div>
          </div>      
        </div>
      <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
        <div class="media block-6 d-block">
          <div class="img w-100" style="background-image: url({% static 'images/2.png' %});"></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Clareamento Dental Personalizado</h3>
            <p>Procedimento seguro e eficaz para remover manchas e amarelamento dos dentes, proporcionando um sorriso mais branco e radiante.</p>
          </div>
        </div>      
      </div>
      
      <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
        <div class="media block-6 d-block">
          <div class="img w-100" style="background-image: url({% static 'images/3.png' %});"></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Tratamento do Bruxismo e apertamento dentário</h3>
            <p>Abordagem especializada para pacientes que sofrem com o ranger dos dentes, incluindo medidas para proteger a estrutura dentária e reduzir desconfortos.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
        <div class="media block-6 d-block">
          <div class="img w-100" style="background-image: url({% static 'images/dept-5.jpg' %});"></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Restaurações dentárias</h3>
            <p>Recuperação de dentes danificados ou com cáries, utilizando materiais modernos para restaurações estéticas e duradouras.</p>
          </div>
        </div>      
      </div>
      <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
        <div class="media block-6 d-block">
          <div class="img w-100" style="background-image: url({% static 'images/dept-6.jpg' %});"></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Prevenção e manutenção da saúde bucal</h3>
            <p>Orientações e cuidados para prevenir problemas dentários, incluindo limpezas regulares e educação sobre higiene oral adequada.</p>
          </div>
        </div>      
      </div>
      <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
        <div class="media block-6 d-block">
          <div class="img w-100" style="background-image: url({% static 'images/6.png' %});"></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Tratamento do ronco e da apneia com aparelho intrabucal</h3>
            <p>Soluções personalizadas para melhorar a qualidade do sono, utilizando dispositivos intraorais para controlar o ronco e a apneia do sono.</p>
          </div>
        </div>      
      </div>
      <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
        <div class="media block-6 d-block">
          <div class="img w-100" style="background-image: url({% static 'images/dept-12.jpg' %});"></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Redução e prevenção de rugas: botox</h3>
            <p>Procedimento estético para suavizar linhas de expressão e rugas faciais, promovendo uma aparência rejuvenescida.</p>
          </div>
        </div>      
      </div>
      <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
        <div class="media block-6 d-block">
          <div class="img w-100" style="background-image: url({% static 'images/5.png' %});"></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Lentes em resina composta</h3>
            <p>Alternativa estética às facetas de porcelana, as lentes de resina composta melhoram a aparência dos dentes com um procedimento minimamente invasivo e de rápida aplicação.</p>
          </div>
        </div>      
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block scrips%}


{% endblock %}